@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    background-image: url("https://source.unsplash.com/1600x900/?landscape")
}

.caixa-maior{
    background-color: rgba(0, 0, 0, 0.61);
    width: 95%;
    max-width: 420px;
    opacity: 0.8;
    padding: 20px;
    border-radius: 25px;
}

input{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 24px;
    font-size: 20px;
    background-color: #b603a775;
    color: #ddf3d6ea;
    width: calc(100% - 100px);
}
button{
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #e0acac9d;
    float: right;
    cursor: pointer;
}
button:hover{
    background-color:#f00e0e6b;
}
.caixa-media{
    margin-top: 30px;
}
.caixa-menor{
    display: flex;
    margin-top:2em;
    align-items: center;

}
.lupa{
    height: 20px;
}

h2{
    color: white;
    font-size: 28px;
}
.temp{
    color: white;
    margin-top:2em;
}
.descricao{
    color: white;
    margin-left: 1em;
    text-transform: capitalize;
}
.umidade {
    color: #ffffff;
    margin-top: 2em;
}
.rodape{
    display: flex;
    background-color: rgba(17, 91, 114, 0.342);
    font-size: 18px;
    color: white;
    margin-top: 2em;
    border: 1px solid rgba(255, 0, 0, 0.322);
    padding: 7px;
    border-radius: 40px 1px 40px 5px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
}